html {
    background-color: #282a36;
    color: #f8f8f2;
    font-family: 'Open Sans', sans-serif;
}

.org-center {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

pre {
    font-family: 'JetBrains Mono', monospace;
}

pre.src {
    background-color: #282a36;
}

pre.src:hover:before {
    background-color: #282a36;
    color: #f8f8f2;
}

#postamble,
p.copyright {
    margin-bottom: 1em;
    margin-top: 1em;
}

code {
    font-family: 'JetBrains Mono', monospace;
    color: #ff79c6;
}

a {
    color: #8be9fd;
}

a:visited {
    color: #bd93f9;
}

#content,
.content {
    margin: auto;
    max-width: 100%;
    width: 60em;
}

.craftering {
    margin: auto;
    width: 50%;
    text-align: center;
}
