html {
    background-color: #282a36;
    color: #f8f8f2;
    font-family: 'Open Sans', sans-serif;
}

#postamble,
.org-center {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

a {
    color: #8be9fd;
}

a:visited {
    color: #bd93f9;
}

pre {
    font-family: 'JetBrains Mono', monospace;
}

pre.src {
    background-color: #282a36;
}

pre.src:hover:before {
    background-color: #282a36;
    color: #f8f8f2;
}
